asgiref
certifi
cffi
chardet
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
djangorestframework
idna
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
urllib3