{% if user.is_authenticated %}
    <form id="logoutForm" action="/logout/" method="post" class="navbar-right">
        {% csrf_token %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li><span class="navbar-brand">{{ user.username }}!</span></li>
        </ul>
    </form>
    <form method="post" action="{% url 'delete_user' user.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
    </form>


{% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}">Log in</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'register' %}">Sign Up </a></li>
        </ul>
{% endif %}

