{% if user.is_authenticated %}
    <form id="logoutForm" action="/logout/" method="post" class="navbar-right">
        {% csrf_token %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            <li><span class="navbar-brand">{{ user.username }}!</span></li>
        </ul>
    </form>

{% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'login' %}">Log in</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'register' %}">Sign Up </a></li>
        </ul>
{% endif %}

