{% extends "app/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <h2>{{ title }}</h2>
    <form action="." method="post">
        {% csrf_token %}
        <div class="row">

        {{ form.FirstName | as_crispy_field }}
        {{ form.LastName | as_crispy_field }}
        {{ form.gender | as_crispy_field }}
        {{ form.email | as_crispy_field }}
        {{ form.number | as_crispy_field }}
        <button type="submit" class="btn btn-success">Sign Up</button>
        </div>
    </form>
                    If you already have an account <a href="{% url 'login' %}" target="blank"><strong>login</strong></a> instead.

                {% if form.errors %}
                <p class="validation-summary-errors">Something went wrong, please try again !</p>
                {% endif %}
    <div class="col-md-4">
        <section id="socialLoginForm"></section>
    </div>
{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
