<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{{ view.title }}</title>
  </head>
  <body>
    <div>
      <h1>The heading goes here</h1>
    </div>
    <div>
      <table border="2">
        <thead>
          <tr>
            <td>FirstName</td>
            <td>LastName</td>
          </tr>
        </thead>
        <tbody>
          {% for name in view.Teachers %}
          <tr>
          <td>{{name.FirstName}}</td>
          <td>{{name.LastName}}</td>
        </tr>
          {% endfor %}
          {% comment %}
          {% for item in home_list %}
          <tr>
          <td>{{item.FirstName}}</td>
          <td>{{item.LastName}}</td>
        </tr>
          {% endfor %}
          {% endcomment %}
        </tbody>
    </table>
    <div>
        {#if view.Session_data #}
        <h1>The Number of visits : {{ view.Session_data.num_visits }}</h1>
        {# endif #}
    </div>
    <div>
      {# Using session variables inside template #}
      <p>Session Expires on {{ request.session.get_expiry_date }} i.e. within {{view.Session_data.difference}} days.</p>
    </div>
    </div>
  </body>
</html>
