<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Index Page</title>
  </head>
  <body>
    <h1>This app demostrate form submission in Django</h1>
    <h3>The Previosly filled form details are :</h3>
    {% for name in details %}
      {{name}} <br>
    {% endfor %}
    <h3>Fill Up new form</h3>
    <form class="" action="index.html" method="post">
      <label for="FirstName">FirstName</label><br>
      <input type="text" name="" value="" placeholder="Enter your Firstname"><br>
      <label for="Middle Name">Middlename</label><br>
      <input type="text" name="" value="" placeholder="Enter your Middlename"><br>
      <label for="Last Name">Lastname</label><br>
      <input type="text" name="" value="" placeholder="Enter your Lastname"><br>
      <input type="radio" name="" value="M" >
      <label for="Male">Male</label><br>
      <input type="radio" name="" value="" >
      <label for="Female">Female  </label><br>
      <input type="submit" name="" value="submit">

    </form>
  </body>
</html>
